@charset "ISO-8859-1";
body {
    background: linear-gradient(135deg, #f06, #8e44ad);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
    color: #fff;
}

.container {
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin: 10px 0;
    width: 80%;
    max-width: 300px;
}

button {
    padding: 10px 20px;
    background-color: #3498db;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2980b9;
}

#photoContainer {
    margin-top: 20px;
}

img {
    width: 450px;
    height: 450px;
    border-radius: 70%;
    border: 3px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}